{% extends "base.html" %}

{% block title %}Admin Page - E-commerce Platform{% endblock %}

{% block nav %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary mb-5">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2 fw-bolder" href="/">
            Admin Page
        </a>

        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="/">E-commerce</a> -->
                </li>
            </ul>

            <div class="d-flex align-items-center">
                <a data-mdb-ripple-init type="button" class="btn btn-danger me-3" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
{% endblock %}

{% block content %}
<h2>Admin Dashboard</h2>

<h3>Users</h3>
<ul>
    {% for user in users %}
    <li>{{ user[1] }} (ID: {{ user[0] }})(Type: {% if user[2] == 1 %}Admin{% else %}User{% endif %})</li>
    {% endfor %}
</ul>

<h3>Add a New Product</h3>
<form action="/add_product" method="POST">
    <label for="product_name">Product Name:</label>
    <input type="text" id="product_name" name="product_name" required><br>
    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required><br>
    <input type="submit" value="Add Product">
</form>
<form method="POST" action="/add_product">
    <div class="form-group">
        <label for="product_name">Product Name</label>
        <input type="text" id="product_name" name="product_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="price">price</label>
        <input type="text" id="price" name="price" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
</form>
{% endblock %}
